@{
    Layout = "~/Views/Shared/_Layout.cshtml";  // Reference to your shared layout
}
@model IEnumerable<u23594561Prac1_test_.Models.PersonModel>

@{
    ViewBag.Title = "List of People";
}

<h2>List of People</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            Profile Link
        </th> <!-- New column for the button -->
    </tr>

    @foreach (var item in Model) // For each person
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                <a href="@Url.Content(item.MyLink)" class="btn btn-primary">LINK</a>
            </td>
            </tr>
    }

</table>
